.loading-container-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.a-center {
  align-items: center;
}

.title-3 {
  font-family: 'Rubik';
  font-size: 14.5px;
  font-weight: 400;
}

.loader-spinner-icon {
  height: 35px;
}

.w-inherit {width: 100%;}
.h-inherit {height: 100%;}

.bg-photos {
  background-position: center !important;
  background-size: cover !important;
}

.card-type-regular {
  box-shadow: 0.3px 0.3px 1.8px 0 rgb(0 0 0 / 20%);
}

.profile-card-outer {
  background-color: #f9f9f9;
  padding-bottom: 20px;
}

.profile-cover-photo {
  background-position: center !important;
  background-size: cover !important;
  width: 100%;
  height: 180px;
}

.project-card-details-item {
  display: flex;
}

.profile-photo-user-initials {
  background-color: #3f51b5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Rubik';
  color: white;
  font-weight: bold;
  font-size: 32px;
}

.profile-photo-wrapper {
  background-position: center !important;
  background-size: cover !important;
  height: 120px;
  width: 120px;
  border-radius: 160px;
  margin-top: -63px;
  margin-left: 30px;
  border-style: solid;
  border-color: white;
}

.profile-card-username {
  font-family: 'Poppins';
  color: #787373;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 2px;
  letter-spacing: 0.4px;
}

.profile-card-spacer {
  margin-top: 16px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #ebebeb;
  margin-bottom: 16px;
}

.profile-card-section-header {
  font-family: 'Poppins';
  font-size: 13.5px;
  color: #3e3e3e;
  font-weight: 500;
  margin-bottom: 8px;
}

.profile-card-work {
  color: #673ab7;
  width: max-content;
  border-width: 1px;
  border-style: solid;
  padding: 5px 8px;
  font-weight: 500;
  border-radius: 5px;
  font-size: 12.5px;
  letter-spacing: 0.5px;
}

.profile-card-section-content {
  font-size: 14px;
  font-family: 'Rubik';
  font-weight: 300;
  line-height: 21px;
}

.profile-card-header {
  padding: 5px 20px;
}

.profile-card-name-wrapper {
    align-items: center;
}

.profile-card-location {
  font-family: 'Rubik';
  color: #979797;
  font-size: 14.5px;
  font-weight: 400;
  display: flex;
}

.profile-card-location-text {
  margin-top: 3px;
}

img.socials-icon {
  height: 35px;
}

.profile-card-name {
  font-size: 17px;
  font-family: 'Poppins';
  letter-spacing: 0.3px;
  color: #2a2a2a;
  margin-bottom: 3px;
  font-weight: bold;
}

.page-error-message {
  font-family: 'Poppins';
  font-size: 13.5px;
  margin-top: 5px;
}

.page-error-image {
  display: flex;
  margin-bottom: 20px;
}

.page-error-500 {
  font-family: 'Rubik';
  font-weight: 100;
  font-size: 20px;
  color: #7e7e7e;
}

.project-cover-photo {
  width: 100%;
  height: 180px;
}

.project-card-title {
  font-family: 'Poppins';
  font-size: 17px;
  font-weight: bold;
  color: #424242;
}

.project-card-header {
  position: relative;
}

.project-card-header-about {
  position: absolute;
  top: 120px;
  width: 100%;
}

.project-card-about-inner {
  padding-top: 20px;
  margin-top: -40px;
  position: absolute;
  top: 50px;
  width: 100%;
}

.project-card-type {
  color: #673ab7;
  width: max-content;
  border-width: 1px;
  border-style: solid;
  padding: 5px 8px;
  font-weight: 500;
  border-radius: 5px;
  font-size: 12.5px;
  letter-spacing: 0.5px;
  font-family:'Poppins';
  margin-bottom: 6px;
  margin-left: 20px;
}

.project-card-about {
  margin-top: 5px;
  font-size: 14px;
  font-family: 'Rubik';
  font-weight: 300;
  line-height: 21px;
}

.project-card-header-outer {
  position:relative;
}

.project-card-section-title {
  font-family: 'Poppins';
  font-size: 13.5px;
  color: #3e3e3e;
  font-weight: 500;
}

.project-card-location-wrapper {
}

.project-card-spacer {
  margin-top: 18px;
  border-top-style: solid;
  border-width: 1px;
  margin-bottom: 18px;
  border-color: #efefef;
}

.project-card-location-about {
  margin-top: 5px;
  font-size: 14px;
  font-family: 'Rubik';
  font-weight: 300;
  line-height: 21px;
}

.project-card-about-inner-inner {
  padding: 0px 20px 20px 20px;
  background-color: #f9f9f9;
}

.project-card-metrics-inner {
  display: flex;
}

.project-card-metric-item {
  width: 50%;
}

.project-card-item-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card-item-text {
    margin-top: 5px;
    font-family: 'Poppins';
    font-size: 15px;
    text-align: center;
}

.project-card-item-subtext {
    text-align: center;
    font-size: 12px;
    color: #878787;
}

.clickable-icon {
    cursor: pointer;
}

.project-see-more-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-size: 13.5px;
    color: #673ab7;
    cursor:pointer;
}

.project-see-more-inner:hover {
  color: #585858;
}

.project-see-more-text {
    margin-right: 15px;
    margin-top: 2px;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(0deg, rgba(93,110,198,1) 0%, rgba(103,58,183,1) 100%);
}

.project-card-details-icon {
  padding-right: 30px;
  margin-left:40px;
}

.project-card-details-title {
  font-family: 'Poppins';
  font-size: 13.5px;
}

.project-card-details-description {
  font-size: 13.5px;
  font-family: 'Rubik';
  margin-top: 5px;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(0deg, rgba(93,110,198,1) 0%, rgba(103,58,183,1) 100%);
}

.project-card-details-description-passive {
  font-family: 'Rubik';
    font-size: 13.5px;
    margin-top: 5px;
    color: #adadad;
}

.project-card-edit-button {
  margin-top: 25px;
    border: none;
    padding: 18px;
    width: 100%;
    border-radius: 12px;
    font-family: 'Poppins';
    cursor: pointer;
    font-size: 14.5px;
}

.project-card-edit-button:hover {
  background: rgb(93,110,198);
  background: linear-gradient(0deg, rgba(93,110,198,1) 0%, rgba(103,58,183,1) 100%);
  color: white;
}

.post-card-outer {
  background-color: #f9f9f9;
}

.post-card-header-inner {
  display: flex;
  padding: 0px 23px;
}

.post-card-author-photo {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgb(93,110,198);
    background: linear-gradient(0deg, rgba(93,110,198,1) 0%, rgba(103,58,183,1) 100%);
    font-family: 'Rubik';
    font-size: 14px;
}

.post-card-author-name {
  font-family: 'Poppins';
  font-size: 15.5px;
  font-weight: 500;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(0deg, rgba(93,110,198,1) 0%, rgba(103,58,183,1) 100%);
}

.post-card-author-details {
  display: flex;
  align-items: center;
}

.post-card-author-location {
  font-family: 'Rubik';
  font-size: 14px;
  color: #b5b5b5;
  font-weight: 200;
}

.post-card-author-username {
  font-size: 15px;
    font-family: 'Rubik';
    font-weight: 200;
    margin-bottom: 2px;
}

.post-card-header-inner-right {
  margin-left: 13.5px;
}

.post-card-outer {
  padding: 25px 0px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.post-card-body {
  padding: 20px 30px 0px 30px;
  font-family: 'Poppins';
  font-size: 13.5px;
}

.post-card-spacer {
    margin-top: 18px;
    border-top-style: solid;
    border-width: 1px;
    margin-bottom: 18px;
    border-color: #efefef;
}

.post-card-item {
    display: flex;
    justify-content: space-evenly;
}

.post-card-item-item {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.post-metrics-count-text {
  margin-left: 20px;
  font-family: 'Poppins';
  font-size: 15px;
  text-align: center;
}

.post-card-inner {
    position: relative;
}

.post-card-post-option {
  position: absolute;
  top: 0;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.post-card-options {
    background-color: white;
    box-shadow: 0.3px 0.3px 3px 0.3px rgb(0 0 0 / 20%);
    border-radius: 3px;
    text-align: right;
    display: none;
    padding-top: 6px;
}

.post-card-option-item {
  font-family: 'Poppins';
  font-size: 12.5px;
  color: #585858;
  margin-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
  cursor:pointer;
}

.post-card-option-item:hover {
  color: #673ab7;
}

.site-header-outer {
    height: 60px;
    box-shadow: 1.5px 0.5px 1.8px 1px rgb(0 0 0 / 20%);
    position: fixed;
    width: 100%;
    z-index: 100;
    background: rgb(42,52,62);
    background: radial-gradient(circle, rgba(42,52,62,1) 0%, rgba(45,52,68,1) 44%, rgba(65,50,84,1) 100%);
    display: flex;
    justify-content: center;
}

.site-header-inner {
    width: 100%;
    max-width: 1080px;
    display: flex;
    align-items: center;
}

.site-logo {
  font-size: 34px;
  font-family: 'Poppins';
  font-weight: bold;
  color: #fff;
  letter-spacing: 3px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #9c27b0, 0 0 80px #9c27b0, 0 0 90px #9c27b0, 0 0 100px #9c27b0, 0 0 150px #9c27b0;
  margin-right: 30px;
}

.site-logo-text {
    font-family: 'Poppins';
    font-size: 15.5px;
    color: white;
    font-weight: 400;
}

.header-right-section-outer {
  flex-grow: 1;
}

.header-right-section-inner {
  display: flex;
  flex-direction: row-reverse;
}

.header-offline-options {
    display: flex;
}

.header-register-button {
  font-family: 'Poppins';
    font-size: 16px;
    color: white;
    border-style: solid;
    border-width: 1px;
    padding: 8px 18px;
    border-radius: 10px;
    cursor: pointer;
}

.header-register-button:hover {
  background-color: white;
  color: #282828;
}

.header-login-button {
  font-family: 'Poppins';
  font-size: 16px;
  color: white;
  padding: 8px 18px;
  cursor: pointer;
}

.header-login-button:hover {
  color: #f9f9f9;
}

@media screen and (min-width: 1241px) {
  .profile-card-name-wrapper {display:flex;}
  .profile-card-location {margin-left:8px;margin-top: -1px;}
  .project-card-item-text {display: flex;align-items: center;justify-content: center;}
  .project-card-item-subtext {margin-left: 6px;}
}

@media screen and (max-width: 1240px) and (min-width: 1201px) {
  .profile-card-name-wrapper {display:flex;}
  .profile-card-location {margin-left:8px;margin-top: -1px;}
  .project-card-item-text {display: flex;align-items: center;justify-content: center;}
  .project-card-item-subtext {margin-left: 6px;}
}

@media screen and (max-width: 1200px) and (min-width: 993px) {
  .profile-card-name-wrapper {display:flex;}
  .profile-card-location {margin-left:8px;margin-top: -1px;}
  .project-card-item-text {display: flex;align-items: center;justify-content: center;}
  .project-card-item-subtext {margin-left: 6px;}
}

@media screen and (max-width: 992px) and (min-width: 769px) {
  .profile-card-name-wrapper {display:flex;}
  .profile-card-location {margin-left:8px;margin-top: -1px;}
  .project-card-item-text {display: flex;align-items: center;justify-content: center;}
  .project-card-item-subtext {margin-left: 6px;}
}

@media screen and (max-width: 768px) and (min-width: 601px) {
  .project-card-item-text {display: flex;align-items: center;justify-content: center;}
  .project-card-item-subtext {margin-left: 6px;}
}
